* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body {
        font-family: "Poppins", sans-serif;
        background: #f6f8fa;
        color: #333;
        line-height: 1.6;
}
