
header {
        background-color: #3f51b5;
        color: white;
        text-align: center;
        padding: 0.75rem 1rem;
        justify-content: center;
        flex-direction: column;
        align-items:first baseline;
        }
header h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        margin: auto auto auto auto;
        }
 header p {
        font-size: 1.1rem;
        opacity: 0.9;
        margin: auto auto auto auto;
    }