
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  animation: fadeIn 1s ease-in-out;
}

.login-form {
  background: white;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  color: #3f51b5;
  margin-bottom: 1.5rem;
}

/* Inputs */
.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 0.95rem;
}


/* Buttons */
.btn {
  display: inline-block;
  width:90%;
  padding: 0.55rem;
  background: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
  margin-top: 0.75rem;
}

.btn:hover {
  background: #0e8fff;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

/* Register link text */
.sign-in-text {
  margin-top: 1.5rem;
  font-size: 0.95rem;
}

.sign-in-link {
  color: #3f51b5;
  font-weight: 600;
  text-decoration: none;
}

.sign-in-link:hover {
  color: #0e8fff;
}

label{
    color: #3f51b5;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
  0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(82, 119, 250, 0.5); }
  70% { transform: scale(1.05); box-shadow: 0 0 0 10px rgba(82, 119, 250, 0); }
  100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(82, 119, 250, 0); }
}
